* {
    font-family: "open-sans",sans-serif;
}
body {
    zoom: 70%;
}
.header-logo {
    font-size: 30px;
}
.header-text {
    font-size: 16px;
}
#signin , #signout {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
#accounts-pane , #entries-pane {
    padding-bottom: 20px;
}
#accounts > section , #entries > section {
    padding: 8px;
}
.delete-account-row , .delete-entry-row {
    margin: 10px 0px;
}
.delete-account-row > div , .delete-entry-row > div {
    padding: 0px 0px 3px 0px;
    cursor: pointer;
}
.delete-account-row:hover {
    background-color: #EEEEEE;
}
.delete-entry-row:hover , .entry-part-row:hover {
    background-color: #FFFFFF;
}
.generic-button , .delete-account-button , .delete-entry-button {
    width: 24px;
    height: 18px;

    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    margin: 0px 10px 0px 0px;
    background-color: #FFFFFF;
    float: left;
}
.generic-button , .delete-account-button:active , .delete-entry-button:active {
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
}

#add-account-button , #add-entry-button {
    width: 26px;
    height: 20px;

    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.75);
}
#add-entry-button {
    margin: 5px 0px 0px 15px;
}
#add-account-button:active , #add-entry-button:active {
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
}

#account-details-pane > div > .mui-input.mui-text {
    margin-top: 40px;
    margin-left: 20px;
}
#account-details-pane > div > .mui-drop-down-menu {
    width: 95%;
}

.entry-balance {

}
